.console{
    color:aqua;
    height: 10rem;
    margin: 0 8rem 0 8rem;
    overflow: scroll;
    white-space:pre-wrap;
}
.console input{
    border:none;
    background-color: black;
    color: white;
}
.console input:focus{
    outline:none;
}