.contener{
    display: flex;
    flex-direction: column;
    width: 30rem;
}
.tabs{
    display: flex;
  
}
.tabs div:first-child{
    width: 50%;
}
.tabs div{
    transition: all 0.2s;
}
.tabs div:hover{
    cursor: pointer;
    color: aqua;
}
.pages{
    display: flex;
    justify-content: flex-end;
}
.pages div{
    padding-left: 1rem;
}
.selected{
    color: white;
}
.noselect{
    color: gray;
}
.registers{
    display: flex;
    border: 0.3rem double;
}
.registers .memories{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 32rem;
    width: 100%;
}
.memory{
    height: 6.25%;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-bottom: 0.1rem solid white;
    border-left: 0.1rem solid white;
}
.changed{
    color:aqua;
}
.memory:last-child{
    border-bottom: none;
}
.memory:nth-child(16){
    border-bottom: none;
}
.memory p:first-child{
    border-right: 0.1rem dotted white;
    padding-left: 0.2rem;
    width:4rem;
}
.memory p:last-child{
    padding: 0 0.5rem 0 0.5rem;
}