.terminal{
    /* 有効にするとtextareaが潰れてしまう
    /* display: flex;
    flex-direction: column; */
    width:60vh;
    height:32rem;
    background-color: rgb(56, 59, 58);
    border: 0.1rem solid;
    padding:0 0.5rem 0 0.5rem;

    white-space: pre-wrap;

    overflow:scroll;
}
.terminal textarea{
    overflow: visible;
    text-decoration: none;
    border: none;
    font-family:'Courier New', Courier, monospace;
    font-size: medium;
    resize:none
}
.terminal textarea:focus{
    outline:0;
}

.msg_err{
    color: red;
}
.msg_wrong{
    color: gray;
}